.accordion-container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
  padding: 50px;
  width: 80%;
}

.title {
  font-size: 42px;
  color: rgb(110, 110, 110);
  margin: 0;
  margin-bottom: 30px;
}

.accordion__faq {
  display: flex;
  flex-direction: column;
}

.accordion__faq > div {
  background-color: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

.accordion__faq-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion__faq-heading h3 {
  color: rgb(110, 110, 110);
  font-weight: 600;
}

.accordion__faq-heading .active {
  color: rgb(110, 110, 110);
}

.links {
  color: rgb(58, 58, 228);
}

.accordion__faq p {
  margin: 0;
  padding-bottom: 30px;
  color: var(--text-secondary);
  line-height: 1.4;
}

@media (max-width: 800px) {
  .accordion__faq > div {
    width: 100%;
  }
}
