.leaf-div {
  background-color: rgb(78, 75, 79);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaf-map {
  font-size: 35px;
  color: white;
  padding-left: 80px;
  height: 400px;
  width: 900px;
  background-color: rgb(114, 85, 74);
}

.leaflet-control-attribution {
  font-size: 12px;
}

.marker-popup {
  max-width: 200px;
  padding: 10px;
  font-size: 14px;
}
