
.the-text {
  background-color: #96b887;
  display: flex;
}

#head {
  margin: 20px;
  margin-left: 20px;
}

.plant-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 300px;
  background-color: #96b887; /* background color for the ground */
}

/* stem */
.stem {
  position: relative;
  width: 10px;
  height: 120px;
  background-color: #8b572a; 
  border-radius: 8px;
  transition: height 2s ease-in-out;
  left: 200px;
}

/* leaf */
.leaf {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #4caf50; 
  border-radius: 50%;
}

.leaf-1 {
  top: -10px;
  left: 10px;
}

.leaf-2 {
  top: -20px;
  right: 10px;
}

.leaf-3 {
  bottom: 0;
  left: -20px;
}

/* growth animation container */
.plant-container:hover .stem {
  height: 200px;
}

.earth-container {
  background-color: #96b887;
  /*background-color: brown;*/
  height: 200px;
  width: 200px;
  margin-right: 100px;
  margin-bottom: 135px;
  background-image: url('../assets/earth.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
#share-btn{
height: fit-content;
 width: fit-content;
 padding: 5px 20px;
 font-family: 'Outfit','Segoe UI', 'Roboto', 'Oxygen';
 font-weight: bold;
 font-size: 16px;
 color: white;
 margin-bottom: 85px;
 position: absolute;
 right: 600px;
 color: black;
 background-color: #92bc98;
 border-radius: 15px;
 align-items: center;
 border: 3px solid rgb(242, 249, 242);
 cursor: pointer;

}

/* earth rotation on hover */
.earth-container:hover {
  animation: rotateEarth 2s linear infinite;
}

@keyframes rotateEarth {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}